### Importing required libraries

In [21]:
from datetime import datetime
from collections import namedtuple

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql import functions as F
from pyspark.sql import types

### Starting Spark Session

In [3]:
spark = SparkSession.builder \
        .master("local[*]") \
        .appName('test') \
        .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/Naveen/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/06/09 11:33:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [8]:
spark.version

'3.0.3'

### Downloading FHVHV Feb  File and repartitioning

In [9]:
!ls

basic_operations_in_spark.ipynb  head.csv	    spark_rdd.ipynb
data				 lib		    taxi+_zone_lookup.csv
download_data.sh		 schema.md	    test.ipynb
fhv_tripdata1.csv		 sparkSQL.md	    tmp
fhvhv_parquet			 spark_gcs.ipynb    week5_hw.ipynb
fhvhv_tripdata_2021-01.parquet	 spark_local.ipynb  zones
fhvhv_tripdata_2021-02.parquet	 spark_local.py

In [6]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.parquet

--2022-06-09 11:34:19--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.parquet
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.139.241
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.139.241|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 302633211 (289M) [application/x-www-form-urlencoded]
Saving to: ‘fhvhv_tripdata_2021-02.parquet’

fhvhv_tripdata_2021 100%[===================>] 288.61M  19.6MB/s    in 11s

2022-06-09 11:34:31 (25.5 MB/s) - ‘fhvhv_tripdata_2021-02.parquet’ saved [302633211/302633211]

In [7]:
!ls

basic_operations_in_spark.ipynb  head.csv	    spark_rdd.ipynb
data				 lib		    taxi+_zone_lookup.csv
download_data.sh		 schema.md	    test.ipynb
fhv_tripdata1.csv		 sparkSQL.md	    tmp
fhvhv_parquet			 spark_gcs.ipynb    week5_hw.ipynb
fhvhv_tripdata_2021-01.parquet	 spark_local.ipynb  zones
fhvhv_tripdata_2021-02.parquet	 spark_local.py

In [11]:
schema = types.StructType([
  types.StructField('hvfhs_license_num', types.StringType(), True),
  types.StructField('dispatching_base_num', types.StringType(), True),
  types.StructField('originating_base_num', types.StringType(), True),
  types.StructField('request_datetime', types.TimestampType(), True),
  types.StructField('on_scene_datetime', types.TimestampType(), True),
  types.StructField('pickup_datetime', types.TimestampType(), True),
  types.StructField('dropoff_datetime', types.TimestampType(), True),
  types.StructField('PULocationID', types.LongType(), True),
  types.StructField('DOLocationID', types.LongType(), True),
  types.StructField('trip_miles', types.DoubleType(), True),
  types.StructField('trip_time', types.LongType(), True),
  types.StructField('base_passenger_fare', types.DoubleType(), True),
  types.StructField('tolls', types.DoubleType(), True),
  types.StructField('bcf', types.DoubleType(), True),
  types.StructField('sales_tax', types.DoubleType(), True),
  types.StructField('congestion_surcharge', types.DoubleType(), True),
  types.StructField('airport_fee', types.DoubleType(), True),
  types.StructField('tips', types.DoubleType(), True),
  types.StructField('driver_pay', types.DoubleType(), True),
  types.StructField('shared_request_flag', types.StringType(), True),
  types.StructField('shared_match_flag', types.StringType(), True),
  types.StructField('access_a_ride_flag', types.StringType(), True),
  types.StructField('wav_request_flag', types.StringType(), True),
  types.StructField('wav_match_flag', types.StringType(), True)
])

In [12]:
df = spark.read.schema(schema).parquet('fhvhv_tripdata_2021-02.parquet')

In [13]:
df.repartition(24) \
    .write \
    .parquet('fhvhv_parquet/2021/02/')

### Size of the folder

In [16]:
!ls -lh fhvhv_parquet/2021/02

total 511M
-rw-r--r-- 1 Naveen Naveen   0 Jun  9 11:39 _SUCCESS
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00000-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00001-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00002-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00003-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00004-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00005-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00006-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00007-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00008-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00009-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00010-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00011-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00012-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00013-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00014-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00015-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00016-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00017-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00018-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00019-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00020-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00021-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00022-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet
-rw-r--r-- 1 Naveen Naveen 22M Jun  9 11:39 part-00023-99743572-0fbb-415e-bb97-2a1fc18fce9b-c000.snappy.parquet

### Counting Trips on Feb 15?

In [18]:
df1 = spark.read.schema(schema).parquet('fhvhv_parquet/2021/02/')

In [19]:
df1.show()

+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|hvfhs_license_num|dispatching_base_num|originating_base_num|   request_datetime|  on_scene_datetime|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|trip_miles|trip_time|base_passenger_fare|tolls| bcf|sales_tax|congestion_surcharge|airport_fee|tips|driver_pay|shared_request_flag|shared_match_flag|access_a_ride_flag|wav_request_flag|wav_match_flag|
+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|           HV0005|              B02510|                null|2021-02-11 20:34:28|               null|2021-02-11 20:38:00|2021-02-11 20:42:37|         174|         241|     0.726|      277|               6.85|  0.0|0.21|     0.61|                 0.0|       null| 0.0|      5.47|                  N|                N|                 N|               N|             N|
|           HV0003|              B02876|              B02876|2021-02-13 23:04:41|2021-02-13 23:07:38|2021-02-13 23:07:38|2021-02-13 23:12:57|         230|          68|      0.95|      319|               6.84|  0.0|0.21|     0.63|                2.75|       null| 0.0|      6.89|                  N|                N|                  |               N|             N|
|           HV0003|              B02882|              B02882|2021-02-28 20:36:52|2021-02-28 20:50:21|2021-02-28 20:52:18|2021-02-28 21:01:00|         205|         122|      1.96|      522|              10.36|  0.0|0.31|     0.92|                 0.0|       null| 0.0|      8.06|                  N|                N|                  |               N|             N|
|           HV0003|              B02512|              B02512|2021-02-18 07:02:29|2021-02-18 07:03:34|2021-02-18 07:04:10|2021-02-18 07:17:13|         143|         169|      7.95|      783|              22.32|  0.0|0.67|     1.98|                2.75|       null| 0.0|     15.33|                  N|                N|                  |               N|             N|
|           HV0003|              B02872|              B02872|2021-02-05 15:55:54|2021-02-05 16:00:36|2021-02-05 16:00:36|2021-02-05 16:10:44|          20|          18|      1.04|      608|               9.59|  0.0|0.29|     0.85|                 0.0|       null| 3.0|      9.49|                  N|                N|                  |               N|             N|
|           HV0003|              B02765|              B02765|2021-02-17 09:35:58|2021-02-17 09:41:16|2021-02-17 09:41:44|2021-02-17 09:58:46|          33|          87|      3.41|     1022|              16.94|  0.0|0.51|      1.5|                2.75|       null| 0.0|     12.32|                  N|                N|                  |               N|             N|
|           HV0003|              B02869|              B02869|2021-02-18 14:07:39|2021-02-18 14:11:35|2021-02-18 14:12:30|2021-02-18 14:17:29|         216|         216|      0.68|      299|                8.7|  0.0|0.26|     0.77|                 0.0|       null| 0.0|      7.95|                  N|                N|                  |               N|             N|
|           HV0003|              B02764|              B02764|2021-02-04 17:31:26|2021-02-04 17:31:52|2021-02-04 17:33:08|2021-02-04 17:38:40|         162|         233|      1.27|      332|              17.49|  0.0|0.52|     1.55|                2.75|       null|3.34|     15.57|                  N|                N|                  |               N|             N|
|           HV0005|              B02510|                null|2021-02-25 12:20:03|               null|2021-02-25 12:26:01|2021-02-25 13:36:41|         113|          35|     8.335|     4240|              45.13| 1.12|1.39|      4.1|                2.75|       null|8.17|     44.77|                  N|                N|                 N|               N|             N|
|           HV0003|              B02764|              B02764|2021-02-23 16:59:46|2021-02-23 17:02:22|2021-02-23 17:02:22|2021-02-23 17:18:22|         113|          13|      2.63|      960|              16.74|  0.0| 0.5|     1.49|                2.75|       null| 0.0|     10.93|                  N|                N|                  |               N|             N|
|           HV0003|              B02682|              B02682|2021-02-23 01:40:52|2021-02-23 01:43:29|2021-02-23 01:44:49|2021-02-23 01:53:55|         225|         225|      1.75|      546|               7.87|  0.0|0.24|      0.7|                 0.0|       null| 0.0|       6.5|                  N|                N|                  |               N|             N|
|           HV0003|              B02864|              B02864|2021-02-08 07:28:21|2021-02-08 07:38:28|2021-02-08 07:38:28|2021-02-08 08:08:40|         146|          53|      9.25|     1812|              43.13|  0.0|1.29|     3.83|                 0.0|       null| 0.0|     29.87|                  N|                N|                  |               N|             N|
|           HV0005|              B02510|                null|2021-02-06 08:03:51|               null|2021-02-06 08:07:44|2021-02-06 08:28:51|          15|          95|     8.616|     1267|              22.32|  0.0|0.67|     1.98|                 0.0|       null| 0.0|     20.17|                  N|                N|                 N|               N|             N|
|           HV0005|              B02510|                null|2021-02-21 20:50:33|               null|2021-02-21 20:53:02|2021-02-21 20:59:20|         170|         234|     1.074|      378|               7.85|  0.0|0.24|      0.7|                2.75|       null| 0.0|      5.47|                  N|                N|                 N|               N|             N|
|           HV0003|              B02871|              B02871|2021-02-19 19:05:10|2021-02-19 19:10:44|2021-02-19 19:12:15|2021-02-19 19:31:54|         233|         158|      3.25|     1179|              28.88|  0.0|0.87|     2.56|                2.75|       null| 0.0|     25.69|                  N|                N|                  |               N|             Y|
|           HV0003|              B02835|              B02835|2021-02-06 08:40:04|2021-02-06 08:42:49|2021-02-06 08:43:06|2021-02-06 08:51:16|         151|          41|      1.42|      490|               8.86|  0.0|0.27|     0.79|                 0.0|       null| 0.0|      5.67|                  N|                N|                  |               N|             N|
|           HV0005|              B02510|                null|2021-02-27 13:49:33|               null|2021-02-27 13:54:56|2021-02-27 14:05:16|         164|         233|      1.66|      620|               9.16|  0.0|0.27|     0.81|                2.75|       null| 0.0|      7.03|                  N|                N|                 N|               N|             N|
|           HV0003|              B02867|              B02867|2021-02-22 17:33:22|2021-02-22 17:36:04|2021-02-22 17:36:33|2021-02-22 18:02:22|         181|         256|       6.0|     1549|              24.16|  0.0|0.72|     2.14|                 0.0|       null| 0.0|     22.12|                  N|                N|                  |               N|             N|
|           HV0003|              B02872|              B02872|2021-02-17 20:05:57|2021-02-17 20:09:54|2021-02-17 20:10:33|2021-02-17 20:23:37|          56|          95|      2.29|      784|              11.46|  0.0|0.34|     1.02|                 0.0|       null| 0.0|       9.9|                  N|                N|                  |               N|             N|
|           HV0003|              B02764|              B02764|2021-02-18 14:30:52|2021-02-18 14:34:19|2021-02-18 14:34:38|2021-02-18 14:47:13|         143|         237|      2.15|      755|              12.85|  0.0|0.39|     1.14|                2.75|       null| 0.0|      8.69|                  N|                N|                  |               N|             N|
+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
only showing top 20 rows

- Using Spark itself

In [25]:
df1 \
    .withColumn('pickup_date', F.to_date(df1.pickup_datetime)) \
    .filter("pickup_date = '2021-02-15'") \
    .groupBy('pickup_date') \
    .count() \
    .show()

+-----------+------+
|pickup_date| count|
+-----------+------+
| 2021-02-15|367170|
+-----------+------+

- Using sparkSQL

In [26]:
df.registerTempTable('fhvhv_2021_02')

In [31]:
spark.sql("""
SELECT 
    COUNT(1)
FROM 
    fhvhv_2021_02
WHERE 
    to_date(pickup_datetime) = '2021-02-15';
""").show()

+--------+
|count(1)|
+--------+
|  367170|
+--------+

### Longest Trip for each day

- Using Spark Directly

In [77]:
df1 \
    .withColumn('duration', df1.dropoff_datetime.cast('long') - df1.pickup_datetime.cast('long')) \
    .withColumn('pickup_date', F.to_date(df1.pickup_datetime)) \
    .groupBy('pickup_date') \
    .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .withColumn('max(duration)', F.to_timestamp("max(duration)")) \
    .limit(5) \
    .show()

+-----------+-------------------+
|pickup_date|      max(duration)|
+-----------+-------------------+
| 2021-02-11|1970-01-01 20:59:00|
| 2021-02-17|1970-01-01 15:53:41|
| 2021-02-20|1970-01-01 12:13:59|
| 2021-02-03|1970-01-01 11:17:33|
| 2021-02-19|1970-01-01 10:26:17|
+-----------+-------------------+

- Using sparkSQL

In [76]:
spark.sql("""
SELECT 
    to_date(pickup_datetime) AS pickup_date,    
    CAST(MAX(CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) AS TIMESTAMP) AS duration
FROM 
    fhvhv_2021_02
GROUP BY 
    1
ORDER BY 
    2 DESC
LIMIT 10;
""").show()

+-----------+-------------------+
|pickup_date|           duration|
+-----------+-------------------+
| 2021-02-11|1970-01-01 20:59:00|
| 2021-02-17|1970-01-01 15:53:41|
| 2021-02-20|1970-01-01 12:13:59|
| 2021-02-03|1970-01-01 11:17:33|
| 2021-02-19|1970-01-01 10:26:17|
| 2021-02-25|1970-01-01 09:43:30|
| 2021-02-18|1970-01-01 09:36:52|
| 2021-02-10|1970-01-01 09:29:29|
| 2021-02-21|1970-01-01 08:57:03|
| 2021-02-09|1970-01-01 08:54:47|
+-----------+-------------------+

### Most Frequent Dispatching Base Num

In [74]:
df1 \
    .withColumn('dispatching_base_num', df1.dispatching_base_num) \
    .groupBy('dispatching_base_num') \
    .count() \
    .orderBy('count', ascending=False) \
    .limit(5) \
    .show()

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02510|3233664|
|              B02764| 965568|
|              B02872| 882689|
|              B02875| 685390|
|              B02765| 559768|
+--------------------+-------+

In [75]:
spark.sql("""
SELECT 
    dispatching_base_num,    
    COUNT(1)
FROM 
    fhvhv_2021_02
GROUP BY 
    1
ORDER BY 
    2 DESC
LIMIT 10;
""").show()

+--------------------+--------+
|dispatching_base_num|count(1)|
+--------------------+--------+
|              B02510| 3233664|
|              B02764|  965568|
|              B02872|  882689|
|              B02875|  685390|
|              B02765|  559768|
|              B02869|  429720|
|              B02887|  322331|
|              B02871|  312364|
|              B02864|  311603|
|              B02866|  311089|
+--------------------+--------+

### Most common Location Pairs

- Using sparkSQL

In [81]:
df_zones = spark.read.parquet('zones')
df_zones.show(3)

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+
only showing top 3 rows

In [82]:
df_zones.registerTempTable('zones')

In [80]:
df1.show(2)

+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|hvfhs_license_num|dispatching_base_num|originating_base_num|   request_datetime|  on_scene_datetime|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|trip_miles|trip_time|base_passenger_fare|tolls| bcf|sales_tax|congestion_surcharge|airport_fee|tips|driver_pay|shared_request_flag|shared_match_flag|access_a_ride_flag|wav_request_flag|wav_match_flag|
+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|           HV0005|              B02510|                null|2021-02-11 20:34:28|               null|2021-02-11 20:38:00|2021-02-11 20:42:37|         174|         241|     0.726|      277|               6.85|  0.0|0.21|     0.61|                 0.0|       null| 0.0|      5.47|                  N|                N|                 N|               N|             N|
|           HV0003|              B02876|              B02876|2021-02-13 23:04:41|2021-02-13 23:07:38|2021-02-13 23:07:38|2021-02-13 23:12:57|         230|          68|      0.95|      319|               6.84|  0.0|0.21|     0.63|                2.75|       null| 0.0|      6.89|                  N|                N|                  |               N|             N|
+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
only showing top 2 rows

In [86]:
spark.sql("""
SELECT 
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair, 
    COUNT(1)
FROM 
    fhvhv_2021_02 fhv LEFT JOIN zones pul on pul.LocationID=fhv.PULocationID
                      LEFT JOIN zones dol on dol.LocationID=fhv.DOLocationID
GROUP BY 
    1
ORDER BY 
    2 DESC
LIMIT 5;
""").take(5)

[Row(pu_do_pair='East New York / East New York', count(1)=45041),
 Row(pu_do_pair='Borough Park / Borough Park', count(1)=37329),
 Row(pu_do_pair='Canarsie / Canarsie', count(1)=28026),
 Row(pu_do_pair='Crown Heights North / Crown Heights North', count(1)=25976),
 Row(pu_do_pair='Bay Ridge / Bay Ridge', count(1)=17934)]